@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">ARE YOU READY TO DO SOME SERIUS SHOPPING?</h1>
    <p>With 68 shops, 17 restearunts and 13 movie theater screens.</p>
    <h2>If this dont do it for you, no place will.</h2>
</div>
<div>
    <hr style="margin-top: 50px; margin-bottom: 50px; margin-left: auto; margin-right: auto; border-style: solid; border-width: 2px; color: black;">
</div>



<div class="text-center">
    <h2>How to find us</h2>
    <p>We are located just 150 meters from Dybbølsbro Trainstation and 600 meters from Copenhagen centralstation </p>
    <p>The busses 7A and 97N stops just outside our doors </p>
    <p>SO COME JOIN US FOR A AMAZING SHOPPING EXSPERIENCE </p>
    <p align="center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9002.021206089179!2d12.553608402790296!3d55.662812800000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652536e13436971%3A0x635c2ebec53f3f72!2sFisketorvet!5e0!3m2!1sda!2sdk!4v1639125096423!5m2!1sda!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>    </p>
</div>
<div>
    <hr style="margin-top: 50px; margin-bottom: 50px; margin-left: auto; margin-right: auto; border-style: solid; border-width: 2px; color: black;">
</div>

<div class="text-center">
    <h2>BY CAR</h2>
    <p>if you come by car we have more then 500 parkings spaces you can use for free the first 2 hours  </p>
</div>

<div align="center">
    <img src="~/parking image 1/parking area.jpg" width="900" height="600" />
</div>

<div>
    <hr style="margin-top: 50px; margin-bottom: 50px; margin-left: auto; margin-right: auto; border-style: solid; border-width: 0px; color: black;">
</div>



<div class="container">
    <div align="center">
        <div class="row">
            <div class="col-sm-2 text-center  p-2 bg-white">

            </div>
            <div class="col-sm-4 text-center  p-2 bg-white">
                <img src="~/Images/electro.PNG" class="p-1" width="200">
                <a class="nav-link text-dark btn btn-light btn-space" asp-area="" asp-page="/Deals">Shops</a>
            </div>

            <div class="col-sm-4 text-center  p-3 bg-white">
                <img src="/Images/admin.png" class="p-2" width="200">
                <a class="nav-link text-dark btn btn-light btn-space" asp-area="" asp-page="/Admin">Admin</a>
            </div>
            <div class="col-sm-2 text-center  p-2 bg-white">

            </div>


        </div>
    </div>
</div>




<h1 style="margin-inline:1px solid black;width: max-content;" class="linekewin"> </h1>

